a{
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.form-group.mt-3 {
  margin-top: 1rem;
}

.text-success {
  color: #28a745; 
}

.text-danger {
  color: #dc3545; 
}